# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Logs
logs/
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Alembic cache
alembic/__pycache__/

# Python cache
.mypy_cache/

# Build
dist/
build/

# SQLite
*.db